<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ title }}</title>
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
