{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="/static/main.js"></script>
{% endblock %}

{% block body %}
	<header>
		<h1>{{ title }}</h1>
		
		<form id="form" method="post">
			<p>
				Seed: <input type="number" name="seed" value="0" placeholder="Seed"/>
				<button type="submit">Start</button>
			</p>
		</form>
	</header>
	
	<main id="game">
		<p class="message"></p>
		<div class="cards"></div>
		<div class="board-wrap equal-wh-wrap">
			<div class="board"></div>
		</div>
	</main>
	
	<footer>
		<p>
			Code: <a href="https://gitlab.com/valtron/onitama">https://gitlab.com/valtron/onitama</a>
		</p>
	</footer>
	
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			const $form = document.querySelector('#form');
			const $game = document.querySelector('#game');
			new OnitamaGame($form, $game);
		});
	</script>
{% endblock %}
