* {
	box-sizing: border-box;
}

html {
	background-color: #E3E3E3;
}

body {
	max-width: 700px;
	margin: 0em auto;
	padding: 1em;
	text-align: center;
}

h1, p, section {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

input, button {
	font-family: inherit;
	padding: 0.3em 0.5em;
	border: 0.1em solid black;
}

button {
	cursor: pointer;
}
button:active {
	background: black;
	color: white;
}

.board-wrap {
	margin-bottom: 1em;
}

.equal-wh-wrap {
	width: 100%;
	padding-top: 100%;
	position: relative;
}

.equal-wh-wrap > div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}

.my-turn .board {
	box-shadow: 0em 0em 0.5em lime;
	border-color: lime;
}

.board {
	transition: box-shadow 0.5s, border-color 0.5s;
	
	border: 0.1em solid black;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(5, 20%);
}

.cell {
	border: 0.02em solid #999999;
	font-size: 14vw;
	cursor: default;
	position: relative;
}

.cards::after {
	content: "";
	clear: both;
	display: table;
}

.card-wrap {
	width: 25%;
	padding-top: 25%;
	position: relative;
	float: left;
}

.card-wrap .card {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}

.card-cell-move {
	background-color: hsla(0, 0%, 0%, 0.5);
}

.card-cell-anchor {
	background-color: black;
}

.card {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(5, 20%);
	
	border: 0.2em solid black;
}

.card.p0 {
	background-color: hsl(0, 100%, 85%);
}

.card.p1 {
	background-color: hsl(240, 100%, 85%);
}

.card.card-to-swap {
	background-color: yellow;
}

@media (min-width: 770px) {
	.cell {
		font-size: 110px;
	}
}

.cell-moves {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
}

.cell-moves .move {
	display: inline-block;
	width: 0.33em;
	height: 0.33em;
	border: 0.03em solid black;
	margin: 0.03em;
	vertical-align: top;
}

.cell:hover .cell-moves {
	display: block;
}

.cell.cell-0 {
	background: hsl(0, 0%, 85%);
}

.cell.cell-1 {
	background: hsl(0, 0%, 95%);
}

.cell.has-moves, .card.has-moves {
	background-color: hsl(80, 100%, 90%);
}

.cell.highlight, .card.highlight {
	background-color: hsl(80, 100%, 50%);
}

.move {
	cursor: pointer;
	background-color: hsl(80, 100%, 50%);
}

.message {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

.p0 {
	color: red;
}

.p1 {
	color: blue;
}

footer {
	margin-top: 3em;
	margin-bottom: 2em;
}
